p {
  font-family: 'Assistant', sans-serif;
  text-align: justify;
  font-size: 19.5pt;
  margin: 0px;
  color: gray;
}

@page{
  size: A3;
  margin: 0.3em;
}

h3{
  font-family: 'Inconsolata', monospace;
  position: absolute;
  top: 60%;
  right: 5%;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
}

img{
  position: absolute;
  top: 48%;
  right: 5%;
  transform: rotate(2.5deg);
}
