p {
  font-family: 'Assistant', sans-serif;
  text-align: right;
  font-size: 0.95em;
  margin: 0px;
  color: #025152;
}

@page{
  size: A4 landscape;
  margin: 0.3em;
  margin-left: 21cm;
}

h3{
  font-family: 'Inconsolata', monospace;
  position: absolute;
  top: 60%;
  right: 5%;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  color: #025152;
}

img{
  position: absolute;
  top: 48%;
  right: 5%;
  transform: rotate(2.5deg);
}
