<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Scripts to PDF</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <link rel="stylesheet" href="templates/style.css" type="text/css" media="screen" title="Styles" charset="utf-8">
  </head>
  <body>
    </br></br>
    <h1> Scripts for Zine-Machines </h1>
  </br>
    <pre>
      {%set count=[0] %}
      {%for script in scripts%}
        <h3>{{titles[count[0]]}}</h3>
        <p>{{ script }}</p>
        <p id="para1">/////////////////////////////////////////////////////////////////////////</p>
      {% if count.append(count.pop() + 1) %}{% endif %} 
      {%endfor%}

      <p id="imprint">

Title: 
Scripts for Zine-machines. Publication_02 </br>
Date:
October 2018 </br>
Created by: 
Angeliki</br>
Tools: 
weasyprint, jinja2, python </br>
Scripts:
https://git.vvvvvvaria.org/zine-machines/workshop-scripts </br>
More information: 
https://zine-machines.kstraat.casa/ 
A workshop created by Luke, Alice & Angeliki (19-20/10/2018, Sign Gallery, Groningen)
      </p>
    </pre>
  </body>
</html>
