

@page{
  size: A3;
  margin: 0.3em;
}

pre {
	columns: 2;
	padding:25pt;
	font-size: 10pt;
	white-space: pre-wrap;
}

h1 {
  font-size: 30pt;
  text-align: center;
  color:red;
  font-family: 'Dancing Script';
}

h3 {
  font-size: 16pt;
  font-family: 'Assistant',sans-serif;
}

p {
  font-size: 12pt;
  font-family: 'Assistant',sans-serif;
}

#para1 {
    color: red;
    font-size: 12pt;
    font-family: 'Assistant',sans-serif;
}

#imprint{
    color: red;
    font-size: 18pt;
    font-family: 'Dancing Script';
}

