<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Slogan Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <link rel="stylesheet" href="templates/style.css" type="text/css" media="screen" title="Styles" charset="utf-8">
  </head>
  <body>
    <h3> Slogans <br> /////////////////////////////////////////</h3>

    <ul>
      {% for slogan in slogans %}

      <li>{{ slogan }} </li>
      {% endfor %}
    </ul>

    <p>
      Title: <br>Slogans for Zine-machines, Publication_03
<br><br>
      Date:<br> October 2018
      <br><br>
      Created by: <br> Alice
      <br><br>
      Tools:<br>weasyprint, jinja2, spacy
      <br><br>
      More information: <br>
      zine-machines.kstraat.casa
      <br><br>
      A workshop created by Luke, Alice & Angeliki<br>
      <br> (19-20/10/2018, Sign Gallery, Groningen)
    </p>
  </body>
</html>
