@page {
  size: 5.8in 8.3in;
  margin: 1.5cm;
}
@page :right{
  margin-left: 1.7cm;
}


@page :first{
  margin-top: 4cm;
}
h3 {
  font-size: 35px;
  text-align: center;
  page-break-after: always;
  color:red;
}


ul {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  line-height: 3;
}

p {
  font-size: 15px;
  color: red;
  line-height: 1.5;
  text-align: center;

}
