<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Zine Workshop Poster</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="../images/style.css" type="text/css" media="screen" title="Styles" charset="utf-8">
  </head>
  <body>
     <p>{{ titles }}</p>
  </body>
</html>
